/* GRIDS 
---------------------------------------- */

$gutter: 15px;

// grid row
.grid {
  margin: 0;
  width: 100%;
  //clear it
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// grid column
.grid__col {
  float: left;
  padding-left: $gutter;
  @include mq($large) {
    &.col-100 { width: 100%; padding: 0 0 0 $gutter; } //reset to normal column padding defaults
    &.large-20 { width: 20%; }
    &.large-25 { width: 25%; }
    &.large-33 { width: 33.3%; }
    &.large-375 { width: 37.5%; }
    &.large-50 { width: 50%; }
    &.large-625 { width: 62.5%; }
    &.large-66 { width: 66.66%; }
    &.large-75 { width: 75%; }

    // Find page column widths
    &.large-785 { width: 78.5%; }
    &.large-215 { width: 21.5%; }
  }
  &:first-child {
    padding-left: 0;
  }
}

// default column widths
.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-33 { width: 33.3%; }
.col-375 { width: 37.5%; } /* 3/8 */
.col-50 { width: 50%; }
.col-625 { width: 62.5%; } /* 5/8 */
.col-66 { width: 66.66%; }
.col-75 { width: 75%; }
.col-100 { width: 100%; padding: 0 0 $gutter 0; }

// Add padding to primary column on wide layout

.primary {
  @include mq($large) {
    padding-right: 25px !important;
  }
}



