/* GRIDS 
---------------------------------------- */

$gutter: 15px;

// grid row
.grid {
  margin: 0 0 $gutter 0;
  width: 100%;
  //clear it
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// grid column
.grid__col {
  float: left;
  padding-left: $gutter;
  &:first-child {
    padding-left: 0;
  }
}

// column widths
.one-third { width: 33.3%; }
.two-thirds { width: 66.66%; }

.one-fifth { width: 20%; }
.one-quarter { width: 25%; }
.one-half { width: 50%; }

.one-whole { width: 100%; }