.map-container{
  position: relative;
}
.search-results__map{
  @include mq($large) {
    width: 960px;
    height: 475px;
  }
  img{max-width: inherit;}
  * {
    &,
    &:before,
    &:after{
        @include vendor(box-sizing, content-box);
    }
  }
}
.marker {
  display: inline-block;
  vertical-align: bottom;
  margin-left: .75em;
  width: 19px;
  height: 27px;
  font-family: $font-regular;
  @include font-size(12);
  line-height: 1.6;
  color: #fff;
  text-align: center;
  letter-spacing: -.1em;
  background: url(../images/marker.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  cursor: pointer;
}

.map-info__name{ 
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}

.hide-map{
  position: absolute;
  right: 14px;
  bottom: 0;
  padding: 6px 10px;
  background: rgba(0,0,0,0.2);
  color: white;
  span.hidden{ display: none;}
  &.active{
    span.hidden{ display: inline;}
    span.visible{display: none;}
  }
}