/* MISCELLANEOUS MODULES - *REORGANIZE*
---------------------------------------- */

// Hero/Carousel

.hero {
  position: relative;
  @include cf;
  .page-title {
    position: absolute;
    left: 33px;
    bottom: 55px;
    margin-bottom: 0;
    color: #fff;
  }
  .home & {
    margin-bottom: 25px;
  }
}

// Feature blocks - used on home page

.feature-block {
  /* adjust to ensure equal height at wide screen layout */
  padding: 20px 18px;
  background: $feature-background;
  .title {
    font-family: $font-semibold;
    @include font-size(18);
    color: $brand-color-alt;
    text-transform: uppercase;
  }
  .headline {
    font-family: $font-regular;
    @include font-size(23);
    color: $gray-darkest;
  }
}

// Footer modules
.tagline {
  float: left;
  font-family: $font-regular;
  @include font-size(21);
  color: $gray-light;
}

.copy {
  font-family: $font-light;
  @include font-size(13);
  line-height: 2;
  color: #b9b9b9;
}

.util {
  float: right;
  margin: 7px 16px 0;
  margin-right: 16px;
  > * {
    display: inline-block;
  }
  > a {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background: #eee; //placeholder - remove
    &:first-child {
      margin-left: 0;
    }
  }
  img {
    margin-left: 10px;
    padding-left: 10px;
    width: 44px;
    height: 25px;
    border-left: 1px solid #ccc;
  }
}

// Leadership blocks

.leadership {
  h2 span {
    margin-left: .75em;
    @include font-size(17);
    color: $gray-light;
  }
  .media {
    padding: 30px 25px;
    border-top: 1px solid #ddd;
    &:first-child {
      padding-top: 5px;
      border: none;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

// News & Events

.news {
  .media {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    &:first-child {
      padding-top: 5px;
      border: none;
    }
  }
  .news-title {
    margin-bottom: .25em;
  }
}

.events {
  .media {
    padding-bottom: 30px;
    &:first-child {
      padding-top: 10px;
      border: none;
    }
  }
  .event-title,
  .event-summary,
  .event-date {
    margin-bottom: .15em;
  }
  .event-title {
    font-family: $font-regular;
    @include font-size(16);
    color: $black;
  }
  .event-summary {
    @include font-size(15);
    color: $gray-dark;
  }
  .event-date {
    @include font-size(15);
    color: $gray-light;
  }
}

// Find (search results)

.search-results {
  background: #fff;
  h1 { 
    margin-bottom: 0;
    padding: 0 16px;
    line-height: 70px;
  }
}

.listing {
  padding: 16px;
  font-family: $font-regular;
  border-top: 1px solid #ddd;
  h4 {
    margin-bottom: .25em;
    color: $gray-light;
  }
  .photo > a {
    display: block;
    line-height: 2.1;
    color: $gray-med;
    text-align: center;
    background: #e5e5e5;
  }
  .specs {
    margin-bottom: 0;
  }
  .name {
    margin-bottom: .25em;
    @include font-size(28);
    color: $gray-darkest;
    .marker {
      display: inline-block;
      vertical-align: top;
      margin-left: .75em;
      width: 19px;
      height: 27px;
      font-family: $font-semibold;
      @include font-size(14);
      color: #fff;
      text-align: center;
      background: url(/assets/images/marker.png) no-repeat 0 0;
      background-size: 100%;
    }
  }
  .contact {
    margin-bottom: .75em;
    @include font-size(15);
    line-height: 1.35;
    color: $gray-light;
  }
  .description {
    margin-bottom: 1em;
    @include font-size(15);
    line-height: 1.35;
    color: $gray-med;
  }
  .features {
    @include font-size(15);
    color: $gray-light;
    line-height: 1.35;
    li {
      margin-top: .5em;
      margin-left: .75em;
      line-height: 1.1;
      text-indent: -.5em;
      &:first-child {
        margin-top: 0;
      }
      &:before {
        margin-right: .65em;
        @include font-size(11);
      }
    }
  }
  .pricing-data {
    margin-bottom: .75em;
    @include font-size(16);
    line-height: 1.2;
  }
}