/* Navigation styling - main and subnavs */

.logo { 
  float: left;
  margin: 0 40px 0 15px;
  padding: 0;
  width: 140px;
  height: 40px;
  @include mq($large) {
    margin-left: 0;
  }
}

.menu-link {
  float: right;
  margin: 0 15px 10px 0;
  padding: .5em;
  @include font-size(21);
  color: $gray-med;
  border-bottom: 1px solid #e6e6e6;
  @include vendor(border-radius, 3px);
  @include gradient(#f0f0f0, #ebebeb);
  @include hoverActiveFocus(text-decoration, none);
  &:after {
    content: " ";
    float: right;
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    width: 24px;
    height: 21px;
    background: url(../images/icon-menu.png) no-repeat 0 0;
  }
  &.active {
    color: #fff;
    border-top: 1px solid #3c7ed8;
    border-bottom: 1px solid #001f65;
    @include gradient(#305aac, #1547a6);
    &:after {
      background-position: 0 -22px;
    }
  }
  @include mq($large) {
    display: none;
  }
}

.nav {
  max-height: 0;
  margin: 0 0 -22px 0;
  padding: 0;
  list-style: none;
  &.active {
    clear: both;
    max-height: 100%;
    > li > .nav {
      max-height: 100%;
    }
  }
  > li {
    padding: 0 0;
    @include font-size(26);
    line-height: 2.5;
    background: #fafafa;
    border-top: 1px solid #ddd;
    &#nav-find {
      display: none;
    }
    &#nav-about {
      border: none;
    }
    &,
    > a {
      display: block;
      zoom:1;
      font-family: $font-regular;
      color: $gray-med;
      @include hoverActiveFocus(text-decoration, none);
    }
    > a { padding-left: 20px; }
  }
  @include mq($large) {
    max-height: 100%;
    overflow: auto;
    margin: 0;
    &.active {
      clear: none;
      max-height: 100%;
    }
    > li {
      margin-right: 9px;
      padding: 0;
      height: 40px;
      line-height: 48px;
      background: none;
      border: none;
      @include font-size(18);
      &:before {
        display: inline-block;
        margin-right: 7px;
        content: "|";
        color: #ccc;
        font-family: sans-serif;
        font-weight: normal;
        vertical-align: middle;
      }
      &#nav-find {
        display: inline-block;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &,
      > a {
          display:inline-block;
         *display:inline;
          zoom:1;
          padding-left: 0;
          font-family: $font-semibold;
          color: $gray-med;
          @include hoverActiveFocus(color, $brand-color);
          @include hoverActiveFocus(background, none);
      }
    }
  }
}

.nav--sub {
  display: none;
  margin: 0;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #ddd;
  > li {
    height: auto;
    line-height: 48px;
    > a {
      color: $gray-dark;
      @include hoverActiveFocus('color', $brand-color-alt);
    }
  }
  @include mq($large) {
    display: block;
  }
}

#nav-main {
  .nav--sub {
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: none;
    background: #fff;
    > li {
      margin: 0 20px;
      background: #fff;
      &:first-child {
        border: none;
      }
    }
    @include mq($large) {
      display: none;
    }
  }
}

#nav-main.active .nav--sub {
  display: block;
  @include mq($large) {
    display: none;
  }
}

// Highlight item for current page

.about #nav-about > a,
.careers #nav-careers > a,
.contact #nav-contact > a,
.find #nav-find > a { color: $brand-color; }

#about-overview #sub-about-overview > a,
#about-leadership #sub-about-leadership > a,
#about-news-events #sub-about-news > a,
#about-communities #sub-about-communities > a,
#careers-overview #sub-careers-overview > a,
#careers-jobsearch #sub-careers-jobsearch > a { color: $brand-color; }


