.pagination {
  display: none;
  &.visible{ display: block; }
  padding: 0 15px;
  border-top: 1px solid #ddd;
  font-family: $font-regular;
  @include font-size(18);
  line-height: 52px;
  color: $gray-darkest;
  @include cf;
}

.pagination__pages {
  float: right;
}

.pagination__pages > a {
  padding: 0 .5em;
  margin: 0;
  &.active_page {
    color: $brand-color;
  }
  &.no_more{ display: none;}
}