/* SEARCH FORMS - FIND APARTMENT, REFINE 
---------------------------------------- */

//Find an Apartment Search Form
.search {
  clear: both;
  margin-top: 20px;
  padding: 13px 10px;
  width: 100%;
  background: #f1f1f1;
  &.active{ display: block; }
  @include cf;
  @include mq($large) {
    z-index: 5;
    position: absolute;
    top: 190%;
    left: 0;
    margin: 0 1.5%;
    padding: 20px 25px;
    width: 97%;
    background: #fff;
    display: none;
    .home & {
      display: block;
    }
  }
}

//Includes stlye overrides for jQuery Chosen (chosen.css)
form.find-apartment {
  label {
    display: none;
    float: left;
    margin-right: 20px;
    @include font-size(25);
    line-height: 35px;
    color: $gray-dark;
  }
  button { 
    z-index: 5;
    position: relative;
    margin: 4px 0 0 -34px;
    height: 29px;
    width: 30px;
    font-size: 0;
  }
  #find_large_chzn { display: none;}
  .chzn-container {
    display: block;
    float: left;
    width: 100%;
    @include font-size(17);
    .search-field input {
      height: auto ;
      font-family: $font-regular;
    }
    .chzn-choices {
      background: #fff;
      border-color: #ccc;
      .search-choice { 
        margin-top: 4px;
        height: 28px;
        font-family: $font-regular;
        @include font-size(15);
        line-height: 18px;
      }
      .search-choice-close { top: 8px; }
    }
    .chzn-drop {
      margin-top: 5px;
      border: 1px solid #ccc;
    }
    .group-result {
      font-family: $font-semibold;
      @include font-size(19);
      color: $gray-dark;
    }
    .group-option {
      font-family: $font-regular;
      color: $gray-darkest;
      &.highlighted {
        background: #edf3fc;
      }
    }
  }
  @include mq($large) {
    label {
      display: inline-block;
    }
    button {
      @include font-size(18);
      z-index: 5;
      position: relative;
      margin: 0;
      height: auto;
      width: auto;
    }
    .chzn-container .chzn-choices {
      background: #e5e5e5;
    }
    #find_mobile_chzn { display: none; }
    #find_large_chzn { display: block; margin-right: 20px ;}
  }
}

// Refine Search Form

.find-refine {
  z-index: 100;
  border-bottom: 1px solid #d7d7d7;
  h3 {
    background: #ededed;
    border-top: 2px solid #ddd;
    margin-bottom: 0;
  }
  @include mq($large) {
    display: block;
    h3 {
      background: #fff;
      border-top: none;
    }
  }
}

form.refine-search {
  padding: 10px 15px;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  .field {
    clear: both;
    margin-bottom: 15px;
    width: 100%;
    &.inline {
      float: left;
      clear: none;
      width: 45%;
    }
  }
  label {
    display: block;
    font-family: $font-semibold;
    @include font-size(15);
    line-height: 1.75;
    color: #777;
  }
  select {
    width: 100%;
  }
  button {
    margin-right: 20px;
    width: 40%;
  }
  @include mq($large) {
    button { 
      margin: 0;
      width: auto;
    }
    .btn--cancel { display: none; }
  }
}

// select styling

.selectbox {
  position: relative; 
  display: block; 
  width: 100%;
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "\2335";
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-top: 5px;
    font-family: arial, sans-serif;
    font-size: 24px;
  }  
  @include gradient(#f6f6f6, #ececec);
  @include vendor(border-radius, 3px);
  select {
    z-index: 10; 
    position: relative;
    left: 10px;
    border: none; 
    background: none; 
    outline: none; 
    opacity: 0;
    height: 36px;
    -webkit-appearance: none; 
    filter: alpha(opacity=0);
  }
  .selecttext {
    z-index: 9;
    position: absolute;
    left: 8px;
    display: inline-block;
    padding-top: 7px;
    font-family: $font-regular;
    background: transparent;
    color: #555;
  }
}
