/* DEFAULTS
---------------------------------------- */

//Box Model
* {
  &,
  &:before,
  &:after{
      @include vendor(box-sizing, border-box);
  }
}

//RWD defaults
img, embed, object, video { max-width: 100%; vertical-align: middle; }

iframe {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border: none;
  }

/* STRUCTURE 
---------------------------------------- */

html {
  font-family: $font-light;
  font-size: 100%;
  line-height: 1.35em;
  color: #666;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  min-height: 100%;
}

.wrap {
  margin: 0 auto 80px auto;
  width: 960px; //update and use only in breakpoint
  border-bottom: 1px solid #ccc;
  @include cf;
}

header[role="banner"] {
  margin-top: 22px;
  @include cf;
}

.content {
  @include font-size(17);
  border: 15px solid $main-background;
  &.content-bg {
    background: $main-background;
  }
  .home & {
    border: none;
  }
}

.main {
  padding: 30px 25px;
  &.flush {
    padding: 30px 0;
    .find & {
      padding: 0;
    }
  }
  .home & {
    padding: 0;
  }
}

footer[role="contentinfo"] {
  margin: 20px 0;
  @include cf;
}

/* TYPOGRAPHY 
---------------------------------------- */

@font-face {
    font-family: 'OpenSansLight';
    src: url('/assets/fonts/OpenSans-Light-webfont.eot');
    src: url('/assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('/assets/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/assets/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 .5em 0;
  padding: 0;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
}

h1,.alpha {
  @include font-size($h1-size);
}
h2,.beta {
  @include font-size($h2-size);
  color: $brand-color;
  .secondary &,
  &.border {
    padding-bottom: .35em;
    border-bottom: 1px solid #ddd;
    letter-spacing: -.05em;
  }
}
h3,.gamma {
  @include font-size($h3-size);
  color: $gray-darkest;
}
h4,.delta {
  @include font-size($h4-size);
}
h5,.epsilon {
  @include font-size($h5-size);
}
h6,.zeta {
  @include font-size($h6-size);
}

a { 
  color: $black; 
  font-family: $font-regular;
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

/* HELPER 
---------------------------------------- */

.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }

.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }

