//Typography

$font-light: 'OpenSansLight', helvetica, sans-serif;
$font-regular: 'OpenSansRegular', helvetica, sans-serif;
$font-semibold: 'OpenSansSemiBold', helvetica, sans-serif;

$base-font-size: 16;
$base-font-multiplier: 1;
$base-line-height: 1.5;

$h1-size: 44;
$h2-size: 26;
$h3-size: 18;
$h4-size: 16;
$h5-size: 14;
$h6-size: 12;

//Colors

$brand-color: #003899;
$brand-color-alt: #003499;

$page-background-color: #fff;

$link-color: #000;
$link-font-weight: '';

$black: #000;
$gray-darkest: #111;
$gray-dark: #333;
$gray-med: #666;
$gray-light: #999;

